/* Head style*/
h1 {
    color: #ff0000; 
    font-size: 30px;
    }
/* Head style*/
.standout {
    color: red; 
    font-size: 30px;
    }


/*Picture process*/
.image1:hover {
  border-radius: 50%;
}
.image2 {
  border-radius: 30px;
}
.image3 {
  opacity: 0.1;
}
.image4 {
  filter: grayscale(0.5);
}
.image5 {
  filter: blur(10px);
}

/* Paragraph background turns red when hovering */
p:hover {
  background: red;
}

